{
    "command": "dipy_fit_mapmri",
    "b0_threshold": 5,
    "small_delta":,
    "big_delta":,
    "b0_threshold":50.0,
    "laplacian":True,
    "positivity":True,
    "bval_threshold":2000,
    "laplacian_weighting":0.05,
    "radial_order":6,
    "dwi": "testdata/data.nii.gz",
    "bvals": "testdata/data.bvals",
    "bvecs": "testdata/data.bvecs",
    "mask": "testdata/mask.nii.gz",
}
